In [1]:
import pandas as pd

In [76]:
employment10 = pd.read_csv('../Original Datasets/Employment CSVs/table14full10.csv')
employment11 = pd.read_csv('../Original Datasets/Employment CSVs/table14full11.csv')
employment12 = pd.read_csv('../Original Datasets/Employment CSVs/table14full12.csv')
employment13 = pd.read_csv('../Original Datasets/Employment CSVs/table14full13.csv')
employment14 = pd.read_csv('../Original Datasets/Employment CSVs/table14full14.csv')
employment15 = pd.read_csv('../Original Datasets/Employment CSVs/table14full15.csv')
employment16 = pd.read_csv('../Original Datasets/Employment CSVs/table14full16.csv')
employment17 = pd.read_csv('../Original Datasets/Employment CSVs/table14full17.csv')
employment18 = pd.read_csv('../Original Datasets/Employment CSVs/table14full18.csv')
employment19 = pd.read_csv('../Original Datasets/Employment CSVs/table14full19.csv')

In [77]:
dfs = [employment10, employment11, employment12, employment13, employment14, employment15, employment16]
dfs2 = [employment17, employment18, employment19]

In [78]:
for df in dfs:
    df.drop(columns={'Unnamed: 11','Unnamed: 12','Unnamed: 13'},inplace=True)
    df.rename(columns={'States:  Employment status of the civilian noninstitutional population by sex, race, Hispanic or Latino ethnicity, marital status, and detailed age, 2010 annual averages':'State FIPS Code',
                            'Unnamed: 1':'Group Code',
                            'Unnamed: 2':'State',
                            'Unnamed: 3': 'Group',
                            'Unnamed: 4': 'Civilian non-institutional population',
                            'Unnamed: 5': 'Civilian Labor Force: Total',
                            'Unnamed: 6': 'Civilian Labor Force: Percentage',
                            'Unnamed: 7': 'Employed: Total',
                            'Unnamed: 8': 'Employed: Percentage',
                            'Unnamed: 9': 'Unemployed: Total',
                            'Unnamed: 10': 'Unemployed: Percentage'},
                   inplace=True)

In [79]:
for df in dfs2:
    df.drop(columns={'Unnamed: 11'},inplace=True)
    df.rename(columns={'States:  Employment status of the civilian noninstitutional population by sex, race, Hispanic or Latino ethnicity, marital status, and detailed age, 2010 annual averages':'State FIPS Code',
                            'Unnamed: 1':'Group Code',
                            'Unnamed: 2':'State',
                            'Unnamed: 3': 'Group',
                            'Unnamed: 4': 'Civilian non-institutional population',
                            'Unnamed: 5': 'Civilian Labor Force: Total',
                            'Unnamed: 6': 'Civilian Labor Force: Percentage',
                            'Unnamed: 7': 'Employed: Total',
                            'Unnamed: 8': 'Employed: Percentage',
                            'Unnamed: 9': 'Unemployed: Total',
                            'Unnamed: 10': 'Unemployed: Percentage'},
                   inplace=True)

In [80]:
all_dfs = [employment10, employment11, employment12, employment13, employment14, employment15, 
           employment16, employment17, employment18, employment19]
year = 2010

for df in all_dfs:
    df['Year'] = year
    year += 1

In [81]:
for df in all_dfs:
    df.drop([0,1,2,3,4,5,6], inplace=True)
    df.dropna(subset=['State'],inplace=True)

In [82]:
employment11

,"States: Employment status of the civilian noninstitutional population by sex, race, Hispanic or Latino ethnicity, marital status, and detailed age, 2011 annual averages",Group Code,State,Group,Civilian non-institutional population,Civilian Labor Force: Total,Civilian Labor Force: Percentage,Employed: Total,Employed: Percentage,Unemployed: Total,Unemployed: Percentage,Year
7,01,01,Alabama,Total,"3,731","2,224",59.6,"2,006",53.8,218,9.8,2011
8,01,02,Alabama,Men,"1,767","1,170",66.2,"1,044",59.1,126,10.8,2011
9,01,03,Alabama,Women,"1,964","1,054",53.6,962,49.0,92,8.7,2011
10,01,04,Alabama,White,"2,728","1,631",59.8,"1,506",55.2,125,7.7,2011
11,01,05,Alabama,"White, men","1,322",903,68.3,829,62.7,74,8.2,2011
...,...,...,...,...,...,...,...,...,...,...,...,...
2650,56,45,Wyoming,"White, 55 to 64 years",74,53,71.7,51,69.2,2,3.4,2011
2651,56,46,Wyoming,"White, 65 years and over",67,16,24.1,15,22.5,1,6.6,2011
2652,56,63,Wyoming,"Hispanic or Latino ethnicity, 25 to 34 years",8,6,81.4,6,75.5,( 3 ),7.3,2011
2653,56,64,Wyoming,"Hispanic or Latino ethnicity, 35 to 44 years",6,5,84.1,5,78.4,( 3 ),6.9,2011
2654,56,65,Wyoming,"Hispanic or Latino ethnicity, 45 to 54 years",4,3,78.8,3,72.5,( 3 ),8.0,2011

In [83]:
employment10['Group'].unique()

array(['Total', 'Men', 'Women', 'White', 'White, men', 'White, women',
       'Black or African American', 'Black or African American, men',
       'Black or African American, women', 'Asian',
       'Hispanic or Latino ethnicity',
       'Hispanic or Latino ethnicity, men',
       'Hispanic or Latino ethnicity, women',
       'Married men, spouse present', 'Married women, spouse present',
       'Women who maintain families', 'Total, 16 to 19 years',
       'Total, 20 to 24 years', 'Total, 25 to 34 years',
       'Total, 35 to 44 years', 'Total, 45 to 54 years',
       'Total, 55 to 64 years', 'Total, 65 years and over',
       'Men, 16 to 19 years', 'Men, 20 to 24 years',
       'Men, 25 to 34 years', 'Men, 35 to 44 years',
       'Men, 45 to 54 years', 'Men, 55 to 64 years',
       'Men, 65 years and over', 'Women, 16 to 19 years',
       'Women, 20 to 24 years', 'Women, 25 to 34 years',
       'Women, 35 to 44 years', 'Women, 45 to 54 years',
       'Women, 55 to 64 years', 'Women, 65 years and over',
       'White, 16 to 19 years', 'White, 20 to 24 years',
       'White, 25 to 34 years', 'White, 35 to 44 years',
       'White, 45 to 54 years', 'White, 55 to 64 years',
       'White, 65 years and over',
       'Black or African American, 16 to 19 years',
       'Black or African American, 20 to 24 years',
       'Black or African American, 25 to 34 years',
       'Black or African American, 35 to 44 years',
       'Black or African American, 45 to 54 years',
       'Black or African American, 55 to 64 years',
       'Hispanic or Latino ethnicity, 25 to 34 years', 'Asian, men',
       'Asian, women', 'Hispanic or Latino ethnicity, 16 to 19 years',
       'Hispanic or Latino ethnicity, 20 to 24 years',
       'Hispanic or Latino ethnicity, 35 to 44 years',
       'Hispanic or Latino ethnicity, 45 to 54 years',
       'Hispanic or Latino ethnicity, 55 to 64 years',
       'Black or African American, 65 years and over',
       'Asian, 16 to 19 years', 'Asian, 20 to 24 years',
       'Asian, 25 to 34 years', 'Asian, 35 to 44 years',
       'Asian, 45 to 54 years', 'Asian, 55 to 64 years',
       'Asian, 65 years and over',
       'Hispanic or Latino ethnicity, 65 years and over'], dtype=object)

In [84]:
mask = employment10['Group'].str.contains('16 to 19 years')
teens10 = employment10[mask]

In [85]:
mask = teens10['Group'].str.contains('Total')
totals10 = teens10[mask]

In [86]:
totals10.head()

,State FIPS Code,Group Code,State,Group,Civilian non-institutional population,Civilian Labor Force: Total,Civilian Labor Force: Percentage,Employed: Total,Employed: Percentage,Unemployed: Total,Unemployed: Percentage,Year
23,01,19,Alabama,"Total, 16 to 19 years",234,73,31.4,51,21.7,23,30.8,2010
70,02,19,Alaska,"Total, 16 to 19 years",42,18,42.8,14,34.7,3,19.0,2010
111,04,19,Arizona,"Total, 16 to 19 years",344,106,30.9,73,21.1,33,31.5,2010
162,05,19,Arkansas,"Total, 16 to 19 years",150,54,36.3,39,26.1,15,28.2,2010
213,06,19,California,"Total, 16 to 19 years","2,084",585,28.1,384,18.4,201,34.4,2010

In [87]:
mask = employment11['Group'].str.contains('16 to 19 years')
teens11 = employment11[mask]
mask = teens11['Group'].str.contains('Total')
totals11 = teens11[mask]

In [90]:
mask = employment12['Group'].str.contains('16 to 19 years')
teens12 = employment12[mask]
mask = teens12['Group'].str.contains('Total')
totals12 = teens12[mask]

In [92]:
mask = employment13['Group'].str.contains('16 to 19 years')
teens13 = employment13[mask]
mask = teens13['Group'].str.contains('Total')
totals13 = teens13[mask]

In [93]:
mask = employment14['Group'].str.contains('16 to 19 years')
teens14 = employment14[mask]
mask = teens14['Group'].str.contains('Total')
totals14 = teens14[mask]

In [94]:
mask = employment15['Group'].str.contains('16 to 19 years')
teens15 = employment15[mask]
mask = teens15['Group'].str.contains('Total')
totals15 = teens15[mask]

In [95]:
mask = employment16['Group'].str.contains('16 to 19 years')
teens16 = employment16[mask]
mask = teens16['Group'].str.contains('Total')
totals16 = teens16[mask]

In [96]:
mask = employment17['Group'].str.contains('16 to 19 years')
teens17 = employment17[mask]
mask = teens17['Group'].str.contains('Total')
totals17 = teens17[mask]

In [97]:
mask = employment18['Group'].str.contains('16 to 19 years')
teens18 = employment18[mask]
mask = teens18['Group'].str.contains('Total')
totals18 = teens18[mask]

In [98]:
mask = employment19['Group'].str.contains('16 to 19 years')
teens19 = employment19[mask]
mask = teens19['Group'].str.contains('Total')
totals19 = teens19[mask]

In [99]:
totals = [totals10, totals11, totals12, totals13, totals14, totals15, totals16, totals17, totals18, totals19]

In [109]:
totals10[['State','Employed: Total','Employed: Percentage','Unemployed: Total','Unemployed: Percentage','Year']]

,State,Employed: Total,Employed: Percentage,Unemployed: Total,Unemployed: Percentage,Year
23,Alabama,51,21.7,23,30.8,2010
70,Alaska,14,34.7,3,19.0,2010
111,Arizona,73,21.1,33,31.5,2010
162,Arkansas,39,26.1,15,28.2,2010
213,California,384,18.4,201,34.4,2010
280,Colorado,69,27.1,23,25.3,2010
338,Connecticut,66,31.6,19,21.9,2010
398,Delaware,13,25.0,4,23.2,2010
456,District of Columbia,3,11.1,3,49.9,2010
515,Florida,183,20.1,84,31.4,2010
579,Georgia,88,15.9,50,36.3,2010
638,Hawaii,15,21.6,5,26.5,2010
689,Idaho,30,33.7,11,26.7,2010
739,Illinois,187,25.8,71,27.6,2010
801,Indiana,95,23.1,36,27.7,2010
853,Iowa,77,44.3,15,16.4,2010
899,Kansas,62,39.8,14,18.4,2010
947,Kentucky,67,31.2,23,25.4,2010
993,Louisiana,67,23.7,21,23.8,2010
1037,Maine,28,38.4,8,21.7,2010
1083,Maryland,94,28.9,28,23.0,2010
1145,Massachusetts,113,28.7,31,21.4,2010
1202,Michigan,183,29.3,72,28.3,2010
1262,Minnesota,106,40.5,28,21.1,2010
1311,Mississippi,40,20.8,20,33.2,2010
1361,Missouri,102,33.4,30,22.5,2010
1406,Montana,14,29.4,5,25.1,2010
1449,Nebraska,41,43.0,6,13.1,2010
1497,Nevada,32,24.4,16,32.8,2010
1556,New Hampshire,24,35.5,5,17.9,2010
1602,New Jersey,117,23.5,31,20.9,2010
1661,New Mexico,21,20.5,9,28.7,2010
1713,New York,223,21.3,75,25.1,2010
1778,North Carolina,111,21.5,41,27.0,2010
1826,North Dakota,16,45.2,2,12.6,2010
1872,Ohio,208,33.0,64,23.6,2010
1926,Oklahoma,62,29.6,18,22.0,2010
1976,Oregon,54,29.2,22,28.8,2010
2029,Pennsylvania,232,33.0,54,18.9,2010
2087,Rhode Island,22,33.5,8,25.9,2010
2145,South Carolina,52,22.0,25,32.1,2010
2193,South Dakota,20,43.2,3,13.7,2010
2239,Tennessee,84,25.2,30,26.3,2010
2293,Texas,359,25.6,103,22.3,2010
2355,Utah,58,36.3,15,20.5,2010
2396,Vermont,14,41.6,2,14.2,2010
2442,Virginia,124,28.2,37,23.2,2010
2501,Washington,87,26.7,45,34.1,2010
2551,West Virginia,23,23.3,8,26.9,2010
2599,Wisconsin,117,39.9,28,19.2,2010
2649,Wyoming,12,39.5,3,20.3,2010

In [111]:
for df in totals:
    df = df[['State','Employed: Total','Employed: Percentage','Unemployed: Total','Unemployed: Percentage','Year']]

In [115]:
totals10 = totals10[['State','Employed: Total','Employed: Percentage','Unemployed: Total','Unemployed: Percentage','Year']]
totals11 = totals11[['State','Employed: Total','Employed: Percentage','Unemployed: Total','Unemployed: Percentage','Year']]
totals12 = totals12[['State','Employed: Total','Employed: Percentage','Unemployed: Total','Unemployed: Percentage','Year']]
totals13 = totals13[['State','Employed: Total','Employed: Percentage','Unemployed: Total','Unemployed: Percentage','Year']]
totals14 = totals14[['State','Employed: Total','Employed: Percentage','Unemployed: Total','Unemployed: Percentage','Year']]
totals15 = totals15[['State','Employed: Total','Employed: Percentage','Unemployed: Total','Unemployed: Percentage','Year']]
totals16 = totals16[['State','Employed: Total','Employed: Percentage','Unemployed: Total','Unemployed: Percentage','Year']]
totals17 = totals17[['State','Employed: Total','Employed: Percentage','Unemployed: Total','Unemployed: Percentage','Year']]
totals18 = totals18[['State','Employed: Total','Employed: Percentage','Unemployed: Total','Unemployed: Percentage','Year']]
totals19 = totals19[['State','Employed: Total','Employed: Percentage','Unemployed: Total','Unemployed: Percentage','Year']]

In [116]:
totals19

,State,Employed: Total,Employed: Percentage,Unemployed: Total,Unemployed: Percentage,Year
56,Alaska,13,33.2,2,15.0,2019
96,Arizona,138,33.6,26,16.0,2019
141,Arkansas,49,31.3,5,9.6,2019
183,California,447,22.5,76,14.5,2019
394,Florida,254,26.6,37,12.7,2019
447,Georgia,159,27.6,17,9.6,2019
520,Idaho,38,41.0,4,9.9,2019
561,Illinois,197,29.7,34,14.6,2019
610,Indiana,140,39.5,19,11.9,2019
709,Kentucky,79,36.0,9,10.4,2019
747,Louisiana,64,24.8,13,16.7,2019
864,Massachusetts,110,34.2,13,10.5,2019
906,Michigan,203,38.4,27,11.8,2019
948,Minnesota,132,44.1,12,8.1,2019
984,Mississippi,35,20.3,11,23.6,2019
1054,Montana,20,41.1,2,9.2,2019
1091,Nebraska,48,43.0,8,14.2,2019
1292,New York,222,24.2,35,13.5,2019
1349,North Carolina,146,28.2,27,15.6,2019
1423,Ohio,219,35.9,41,15.8,2019
1465,Oklahoma,72,32.7,7,8.8,2019
1500,Oregon,78,36.5,12,13.9,2019
1541,Pennsylvania,229,36.0,35,13.4,2019
1678,Tennessee,121,36.1,14,10.5,2019
1721,Texas,444,28.0,67,13.1,2019
1775,Utah,97,49.3,7,7.0,2019
1885,Washington,103,26.9,19,15.9,2019
1924,West Virginia,26,28.2,4,13.8,2019
1961,Wisconsin,148,48.1,16,9.9,2019
1997,Wyoming,14,46.4,1,8.4,2019

In [120]:
others = [totals11, totals12, totals13, totals14, totals15, totals16, totals17, totals18, totals19]
merged = totals10.append(others, ignore_index=True)

In [121]:
merged

,State,Employed: Total,Employed: Percentage,Unemployed: Total,Unemployed: Percentage,Year
0,Alabama,51,21.7,23,30.8,2010
1,Alaska,14,34.7,3,19.0,2010
2,Arizona,73,21.1,33,31.5,2010
3,Arkansas,39,26.1,15,28.2,2010
4,California,384,18.4,201,34.4,2010
...,...,...,...,...,...,...
441,Utah,97,49.3,7,7.0,2019
442,Washington,103,26.9,19,15.9,2019
443,West Virginia,26,28.2,4,13.8,2019
444,Wisconsin,148,48.1,16,9.9,2019
445,Wyoming,14,46.4,1,8.4,2019

In [122]:
merged.to_csv(r'../Cleaned Datasets/teen_employment.csv', index = False, header=True)

In [137]:
mask = ~employment19['State'].isin(teen_states19)
employment19[mask]

,"States: Employment status of the civilian noninstitutional population by sex, race, Hispanic or Latino ethnicity, marital status, and detailed age, 2019 annual averages",Group Code,State,Group,Civilian non-institutional population,Civilian Labor Force: Total,Civilian Labor Force: Percentage,Employed: Total,Employed: Percentage,Unemployed: Total,Unemployed: Percentage,Year
7,01,02,Alabama,Men,"1,828","1,194",65.3,"1,163",63.6,32,2.7,2019
8,01,03,Alabama,Women,"2,034","1,069",52.6,"1,034",50.8,35,3.3,2019
9,01,04,Alabama,White,"2,722","1,615",59.3,"1,577",57.9,38,2.3,2019
10,01,05,Alabama,"White, men","1,319",901,68.3,884,67.0,18,1.9,2019
11,01,06,Alabama,"White, women","1,403",714,50.9,694,49.4,20,2.8,2019
...,...,...,...,...,...,...,...,...,...,...,...,...
1864,51,45,Virginia,"White, 55 to 64 years",797,561,70.4,548,68.7,13,2.3,2019
1865,51,46,Virginia,"White, 65 years and over","1,058",278,26.3,270,25.5,8,2.8,2019
1866,51,49,Virginia,"Black or African American, 25 to 34 years",223,191,85.6,183,82.1,8,4.1,2019
1867,51,50,Virginia,"Black or African American, 35 to 44 years",221,185,83.6,178,80.8,6,3.4,2019
1868,51,51,Virginia,"Black or African American, 45 to 54 years",201,169,83.8,164,81.5,5,2.8,2019

In [139]:
mask = employment19['State'] == 'Alabama'
employment19[mask]

,"States: Employment status of the civilian noninstitutional population by sex, race, Hispanic or Latino ethnicity, marital status, and detailed age, 2019 annual averages",Group Code,State,Group,Civilian non-institutional population,Civilian Labor Force: Total,Civilian Labor Force: Percentage,Employed: Total,Employed: Percentage,Unemployed: Total,Unemployed: Percentage,Year
7,01,02,Alabama,Men,"1,828","1,194",65.3,"1,163",63.6,32,2.7,2019
8,01,03,Alabama,Women,"2,034","1,069",52.6,"1,034",50.8,35,3.3,2019
9,01,04,Alabama,White,"2,722","1,615",59.3,"1,577",57.9,38,2.3,2019
10,01,05,Alabama,"White, men","1,319",901,68.3,884,67.0,18,1.9,2019
11,01,06,Alabama,"White, women","1,403",714,50.9,694,49.4,20,2.8,2019
12,01,07,Alabama,Black or African American,"1,004",563,56.1,536,53.4,27,4.7,2019
13,01,08,Alabama,"Black or African American, men",445,250,56.2,237,53.3,13,5.1,2019
14,01,09,Alabama,"Black or African American, women",559,313,56.0,299,53.5,14,4.5,2019
15,01,13,Alabama,Hispanic or Latino ethnicity,146,105,71.5,103,70.2,2,1.8,2019
16,01,16,Alabama,"Married men, spouse present",979,688,70.3,682,69.6,7,1.0,2019
17,01,17,Alabama,"Married women, spouse present",978,528,54.0,518,53.0,10,1.9,2019
18,01,18,Alabama,Women who maintain families,255,152,59.5,144,56.3,8,5.4,2019
19,01,20,Alabama,"Total, 20 to 24 years",315,222,70.5,206,65.4,16,7.3,2019
20,01,21,Alabama,"Total, 25 to 34 years",640,515,80.4,501,78.2,14,2.7,2019
21,01,22,Alabama,"Total, 35 to 44 years",581,463,79.7,452,77.8,11,2.4,2019
22,01,23,Alabama,"Total, 45 to 54 years",625,463,74.2,454,72.7,9,2.0,2019
23,01,24,Alabama,"Total, 55 to 64 years",677,396,58.4,389,57.4,7,1.7,2019
24,01,25,Alabama,"Total, 65 years and over",785,132,16.8,130,16.5,2,1.5,2019
25,01,27,Alabama,"Men, 20 to 24 years",144,113,78.8,107,74.5,6,5.4,2019
26,01,28,Alabama,"Men, 25 to 34 years",314,269,85.6,262,83.6,6,2.3,2019
27,01,29,Alabama,"Men, 35 to 44 years",283,244,86.2,239,84.4,5,2.2,2019
28,01,30,Alabama,"Men, 45 to 54 years",301,246,81.8,241,80.0,5,2.2,2019
29,01,31,Alabama,"Men, 55 to 64 years",316,215,68.2,213,67.3,3,1.3,2019
30,01,34,Alabama,"Women, 20 to 24 years",171,108,63.5,98,57.7,10,9.2,2019
31,01,35,Alabama,"Women, 25 to 34 years",327,246,75.3,238,73.0,8,3.1,2019
32,01,36,Alabama,"Women, 35 to 44 years",299,220,73.6,214,71.6,6,2.6,2019
33,01,37,Alabama,"Women, 45 to 54 years",324,217,67.1,214,65.9,4,1.7,2019
34,01,38,Alabama,"Women, 55 to 64 years",362,180,49.9,176,48.8,4,2.1,2019
35,01,41,Alabama,"White, 20 to 24 years",208,153,73.5,146,70.3,7,4.4,2019
36,01,42,Alabama,"White, 25 to 34 years",426,352,82.7,343,80.6,9,2.5,2019
37,01,43,Alabama,"White, 35 to 44 years",394,318,80.7,310,78.7,8,2.5,2019
38,01,44,Alabama,"White, 45 to 54 years",444,342,77.1,337,75.9,5,1.5,2019
39,01,45,Alabama,"White, 55 to 64 years",486,293,60.3,289,59.4,5,1.6,2019
40,01,46,Alabama,"White, 65 years and over",625,107,17.2,107,17.1,1,0.8,2019
41,01,49,Alabama,"Black or African American, 25 to 34 years",189,143,75.7,138,73.3,4,3.1,2019
42,01,50,Alabama,"Black or African American, 35 to 44 years",159,125,78.4,122,76.5,3,2.5,2019
43,01,51,Alabama,"Black or African American, 45 to 54 years",157,105,67.0,102,64.8,3,3.3,2019
44,01,52,Alabama,"Black or African American, 55 to 64 years",175,90,51.5,88,50.3,2,2.3,2019

In [136]:
teen_states19 = list(teens19['State'].unique())

In [138]:
teen_states19

['Alaska',
 'Arizona',
 'Arkansas',
 'California',
 'Florida',
 'Georgia',
 'Idaho',
 'Illinois',
 'Indiana',
 'Kentucky',
 'Louisiana',
 'Massachusetts',
 'Michigan',
 'Minnesota',
 'Mississippi',
 'Montana',
 'Nebraska',
 'New York',
 'North Carolina',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Tennessee',
 'Texas',
 'Utah',
 'Washington',
 'West Virginia',
 'Wisconsin',
 'Wyoming']